
.botonCard {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  justify-content: center;
  margin:2px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 25%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonCard:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.botonCard2 {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    justify-content: center;
    margin:2px;
    text-decoration: none;
    width: 35%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .botonCard2:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  }

.contadorText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
}


.btnAddCart {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  justify-content: center;
  margin:2px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 85%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnAddCart:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
