.footerBuceo{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #15161a;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0px; }
  
  /* .textFooter {
    font-size: 10px;
    font-weight: bold;
    margin: 40px auto; }
  
  .listFooter {
    margin: 5px auto;
    display: flex;
    list-style-type: none; }
    .listFooter li a {
      text-decoration: none;
      color: white;
      font-size: 10px;
      font-weight: bold;
      padding: 5px; }
      .listFooter li a:hover {
        color: #a71b4a; }
   */
.socialMedia {
    margin: 0px auto; }

.socialMedia i {
    padding: 10px;
    font-size: 25px;
    color: white; 
}

.socialMedia i:hover {
    color: #a71b4a;
}
      
