.rowCart {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 15 -16px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
  
}

.col-25-Cart {
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 16px;
  }

.col-75-Cart {
    -ms-flex: 75%; 
    flex: 75%;
    padding: 0 16px;
  }

.containerCart {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
	background: linear-gradient(to bottom left, #1558d4 40%, #230575 100%);
	background-color: white;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	border-color: black;
	position:relative;

}
  
.cartBotonComandos{
	float: center;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
	width: 100%;
	padding: 5px;
	margin: 5px;
    touch-action: manipulation;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1;
}

.cartBotonComandos:hover {
  background-image: linear-gradient(-180deg, #032635 0%, #1E96C8 100%);
}

.priceTotalCart {
    float: right;
    color: rgb(250, 245, 245);
	font-weight: bold;
  }

  .textTotalCart{
	float: left;
    color: rgb(250, 245, 245);  
  }
.cartGlobal{
	padding:1em;
}

.cartCabecera{
	padding:0.2em;
	color: blanchedalmond;
	display: flex;
  	flex-wrap: wrap;
	border-bottom:1px solid lightgray;
	font-weight:700;
}
.cartBody{
	padding:0.4em;
}
.cartItemDetails{
	display: flex;
  flex-wrap: wrap;
	padding: 0.8em;
  background: #f5f5f5;
	border-radius:2px;
	box-shadow:0px 0px 1px 1px lightgrey;
}
.cartBody .cartItemDetails:not(:first-child) {
    margin-top:0.4em;
}
.cartCelda{
	width:20%;
}
.cartCeldaBotonVolver1{
	width:50%;
}

.cartCeldaBotonVolver2{
	width:25%;
}

.cartFooter{
	padding:0.2em;
	color: blanchedalmond;
	display: flex;
  	flex-wrap: wrap;
	font-weight:700;
}
.cartRemoverItemSpan{
	position:relative;
	left:1em;
}
.cartBotonRemover{
	background:red;
	border:0;
	color:white;
	padding:0.3em;
	border-radius:4px
}
.cartItemImagen{
		width: 60px;
    height: 65px;
}  
.cartBotonVolver2:hover {
	background-color: rgba(255, 255, 255, 0.12);
  }
.cartBotonVolver2{    
	background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
	border-radius: 1.5rem;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	justify-content:right;
	margin:2px;
	margin-bottom: 5px;
	text-decoration: none;
	width: 25%;
	border: 0;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;} 
  
	.proxCart {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		background-size:cover;
		background-position:center;
	}
	.ProxCartContenido {
		width:100%;
		max-width:600px;
		text-align:center;
	
	}
	.proxCartImagen {
		width:360px;
		display:block;
		margin:0 auto;
		position:relative;
		top:2px;
	}
	.proxCartCard {
		background:#fff;
		text-align:center;
		padding:2em;
		box-shadow:0 12px 22px rgba(0,0,0,0.05  );
		border-radius:3px;
	}
