
	.spinnerPrincipal {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		background-size:cover;
		background-position:center;
	}
	.spinnerContenido {
		width:100%;
		max-width:600px;
		text-align:center;
	
	}
	.spinnerImagen {
		width:360px;
		display:block;
		margin:0 auto;
		position:relative;
		top:2px;
	}
	.spinnerCard {
		background: linear-gradient(to bottom left, #1558d4 40%, #230575 100%);
	    background-color: white;
	    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
        color:blanchedalmond;
	    border-color: black;
	    position:relative;
		text-align:center;
		padding:2em;
		box-shadow:0 12px 22px rgba(0,0,0,0.05  );
		border-radius:25px;
	}
