/* .fondoPagina{
        background-image: url("../Images/backs/backgound.jpg");
        background-size: "cover";
        height: 100vh;
        margin-top: -70px;
        background-repeat:no-repeat;
        position: relative;
        }
         */

.centerText{
    width: 100%;
    text-align: center;
}