.rowCheckOut {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 15 -16px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
  
}
.col-75-CK {
    -ms-flex: 75%; 
    flex: 75%;
    padding: 0 16px;
  }

  .containerCheckOut {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
  }
  
  .col-25-CK {
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 16px;
  }

  .price {
    float: right;
    color: rgb(8, 8, 8);
    text-decoration-style: solid;
  }
  .priceTotal {
    float: right;
    color: rgb(8, 8, 8);
  }

  .cartBotonModificar{
      float: right;
      background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
      border-radius: 1.5rem;
      color: #FFFFFF;
      cursor: pointer;
      touch-action: manipulation;
      text-transform: uppercase;
      box-sizing: border-box;
      border: 1;
  }

  .cartBotonModificar:hover {
	background-image: linear-gradient(-180deg, #032635 0%, #1E96C8 100%);
  }

.cartBotonComprar{
    float: right;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
    touch-action: manipulation;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1;
}

.cartBotonComprar:hover {
  background-image: linear-gradient(-180deg, #032635 0%, #1E96C8 100%);
}

.logoOrder {
  width:180px;
  display:block;
  margin:0 auto;
  position:relative;
  top:2px;
}

.ordenGlobal{
	padding:1em;
}

.ordenCabecera{
	padding:0.2em;
	color: rgb(53, 9, 172);
	display: flex;
  flex-wrap: wrap;
	border-bottom:1px solid rgb(53, 9, 172);
	font-weight:700;
}

.ordenPie{
	padding:0.2em;
	color: rgb(53, 9, 172);
	display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(53, 9, 172);
	font-weight:700;
}
.ordenBody{
	padding:0.4em;
}

.ordenCelda{
	width:20%;
}

.was-validated .prevent-validation.form-control:valid,
.prevent-validation.form-control.is-valid {
  padding: 0.375rem 0.75rem;
  border-color: #ced4da;
  background-image: none;
}

.cartBotonFinal{
	float: center;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
	width: 100%;
	padding: 5px;
	margin: 5px;
    touch-action: manipulation;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1;
}

.cartBotonFinal:hover {
  background-image: linear-gradient(-180deg, #032635 0%, #1E96C8 100%);
}